.navbar {
    background-color: lightblue; /* Dark background color */
    color: #ffffff; /* White text color */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-bar {
    margin-left: auto;
  }
  
  .search-bar input {
    padding: 8px;
    border: none;
    border-radius: 4px;
  }
  
  .theme-toggle {
    position: relative;
    cursor: pointer;
  }
  
  .theme-toggle input {
    display: none;
  }
  
  /* Added styles for the buttons */
  button {
    background-color: #007bff; /* Blue color for buttons */
    color: #fff; /* White text color */
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }