body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

/* Light Theme Styles */
.light-theme {
  background-color: #d6e4f0;
  color: #1a1a1a;
}

/* Title Style (Common to both themes) */
.library-title {
  /* Set the text color to black when the light theme is active */
  color: #000000;
}

/* Navbar Styles */
.navbar {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #87cefa; /* Light sky blue background color for the navbar in light mode */
}

.navbar h1 {
  color: #1a1a1a; /* Dark gray text color for the title in light mode */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, p {
  color: #1a1a1a; /* Dark gray text color for other headings in the app */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #ffffff; /* White background color */
  margin: 10px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
